<div class="loginForm animate__animated" id="loginForm">
	Esegui l'accesso
	<form method="POST" action="login">
		<input type="email" name="email" placeholder="E-mail" required><br>
		<input type="password" name="password" placeholder="Password" required><br>
		<input type="submit" value="Accedi">
	</form>
</div>
