<%- include("header") %>
	<main>
		<form method="POST" onsubmit="return filtra()">
			<input type="text" id="nomeFiltro" name="nome" placeholder="Titolo">
			<br>
			<select id="cittaFiltro" name="citta">
				<option value="">---</option>
				<option value="45.46,9.19">Milano</option>
				<option value="roma">Roma</option>
				<option value="44.88,11.99">Torino</option>
				<option value="brescia">Brescia</option>
				<option value="mantova">Mantova</option>
				<option value="asti">Asti</option>
				<option value="44.90,8.61">Alessandria</option>
				<option value="varese">Varese</option>
			</select>
			or <input type="button" onclick="getPosition()" value="Usa la mia posizione">
			<br>
			<input type="submit" value="Filtra">
		</form>
		<div id="dati">
			
		</div>
	</main>
</body>
</html>
